@model IEnumerable<CrudBook.Models.Book>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<div class="col-md-9">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var book in Model)
        {
            <div class="col">

                <div class="card">
                    <a asp-action="Display" asp-route-id ="@book.Id">
                        <img src="@book.Image" class="card-img-top" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Tên Sách : @book.Name </h5>
                        <p class="card-text">Tác Giả : @book.Author</p>
                        <p class="card-text">@book.Title</p>
                        <p class="card-text">Giá: @book.Price</p>
                        <a asp-action="Update" asp-route-id = "@book.Id"> Edit</a>
                        <a asp-action="Delete" asp-route-id="@book.Id"> Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
